<footer class="luxury-footer">


    <div class="footer-content">


        <h3>
            AMAR<span>.</span>
        </h3>


        <p>
            Software Engineer creating scalable
            digital solutions with modern technology.
        </p>



        <div class="footer-links">


            <a href="index.html">
                Home
            </a>


            <a href="projects.html">
                Projects
            </a>


            <a href="contact.html">
                Contact
            </a>


            <a href="https://github.com/nickeldom"
               target="_blank">
                GitHub
            </a>


        </div>



        <p class="footer-small">

            © 2026 Amar M.
            All Rights Reserved.

        </p>


    </div>


</footer>